In [2]:
import pandas as pd
import numpy as np

In [3]:
np.__version__, pd.__version__

('1.16.5', '0.25.1')

In [4]:
# creation d'un dictionnaire
dic = dict (nom=["Gregory", "Max","Shelsy","Franco","Mustapha","Samson"] ,age=[45,18,35,12,32,54])
dic

{'nom': ['Gregory', 'Max', 'Shelsy', 'Franco', 'Mustapha', 'Samson'],
 'age': [45, 18, 35, 12, 32, 54]}

In [6]:
# creation d'un dataframe et affichage
df = pd.DataFrame(dic)
df

        nom  age
0   Gregory   45
1       Max   18
2    Shelsy   35
3    Franco   12
4  Mustapha   32
5    Samson   54